body {
    background-color: white;
    font-family: Helvetica, sans-serif;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
h4 {
    text-align: center;
}
h5 {
    text-align: center;
}
h6 {
    text-align: center;
}
p {
    color: black;
    text-align: justify;
}
.header {
    border-bottom: 1px solid black;
    overflow: hidden;
    padding-bottom: 10px;
}
.header img {
    display: block;
    margin: auto;
}
.footer {
    border-top: 1px solid black;
    overflow: hidden;
    padding-top: 10px;
}
.content {
    max-width: 960px;
    margin: auto;
    padding: 10px;
}
